@inherits LayoutComponentBase
@inject MGMBlazor.Infrastructure.Security.UserSession UserSession
@inject NavigationManager Nav

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4 d-flex justify-content-between align-items-center">
                    <span>Bem-vindo, <strong>@context.User.Identity?.Name</strong></span>
                    <span class="badge bg-success" style="background-color: #76b82a !important;">
                        @context.User.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value</span>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>

        <NotAuthorized>
            <main>@Body</main>
        </NotAuthorized>
    </AuthorizeView>
</div>