@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            @* A barra lateral SÓ aparece se estiver logado *@
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center bg-white border-bottom">
            <span class="text-muted small">MGM - Medicina e Segurança do Trabalho</span>

            <AuthorizeView>
                <Authorized>
                    <span>Olá, <strong class="text-dark">@context.User.Identity?.Name</strong></span>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>