.login-container {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      min-height: 45vh;
      /* background-color: #f8f9fa; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* O cartão de login */
.login-card-mgm {
      width: 100%;
      max-width: 400px;
      padding: 2.5rem;
      background: white;
      border-radius: 8px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      /* border-top: 6px solid #76b82a; */
      /* Verde MGM no topo */
}